<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading"> <b>What We Do</b></h2>
                <hr class="light">
                <p class="cta-text">
                    At Symprix, we deliver expert consulting services that unlock value across transport, 
                    infrastructure, and emerging sectors.<br><br>
                    With deep strategic insight and a strong track record in public and private advisory, 
                    we help clients navigate complexity, shape policy, and drive sustainable growth.
                </p>
            </div>
        </div>
    </div>
</section>
