<section id="contact" class="contact-section">
  <div class="container text-center">
    <h2 class="section-heading text-white">Contact</h2>
    <hr class="light">

    <div class="row contact-info">
      <!-- Email -->
      <div class="col-md-6">
        <i class="fa-solid fa-envelope fa-2x text-white"></i>
        <p class="text-white">info@symprix.com</p>
      </div>

      <!-- Location -->
      <div class="col-md-6">
        <i class="fa-solid fa-location-dot fa-2x text-white"></i>
        <p class="text-white">
          167-169 Great Portland Street<br>
          5th Floor<br>
          London<br>
          W1W 5PF
        </p>
      </div>
    </div>
  </div>
</section>

