<section id="contact" class="contact-section">
<div class="row text-center contact-row">
  <div class="col-md-4 contact-item">
    <i class="fa-solid fa-map-marker-alt fa-2x"></i>
    <p>167-169 Great Portland Street, 5th Floor, London<br>W1W 5PF</p>
  </div>
  <div class="col-md-4 contact-item">
    <i class="fa-solid fa-envelope fa-2x"></i>
    <p><a href="mailto:info@symprix.com" class="contact-email">info@symprix.com</a></p>
  </div>
  <div class="col-md-4 contact-item">
    <a href="https://www.linkedin.com/in/sidi-sun/" target="_blank">
      <i class="fa-brands fa-linkedin fa-2x"></i>
      <p>LinkedIn</p>
    </a>
  </div>
</div>
</section>

