<section class="no-padding" id="portfolio">
   <div class="container text-center">
        <h2 class="section-heading"> <b>Projects</b> </h2>
        <hr class="primary">
   </div>
    
    <div class="container-fluid">
        <div class="row no-gutter">
            
            <div class="col-lg-6 col-md-6 col-sm-12">
                <a href="javascript:void(0)" class="portfolio-box is-active">
                    <img src="{{ '/img/portfolio/A1.png' | relative_url }}" class="img-responsive" alt="Transport Strategy & Policy">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Transport Strategy & Policy
                            </div>
                            <div class="project-name">
                                <b>> Rail Reform</b> – Policy and Contract Design (<u>Department for Transport</u>, UK) <br><br>
                                <b>> National Rail Contracts</b> – Incentive Models (<u>Department for Transport</u>, UK) <br><br>
                                <b>> Rail Fares Reform</b> – Economic Evaluation (<u>Department for Transport</u>, UK)
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <a href="javascript:void(0)" class="portfolio-box">
                    <img src="{{ '/img/portfolio/A2.png' | relative_url }}" class="img-responsive" alt="Infrastructure & Investment Advisory">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Infrastructure & Investment Advisory
                            </div>
                            <div class="project-name">
                                <b>> Rail Balltica</b> – Private Investment Market Sounding (<u>Rail Baltica</u>, Latvia) <br><br>
                                <b>> HS2 Optioneering</b> – Strategic Case Development (<u>Transport for Britain</u>, UK) <br><br>
                                <b>> East West Rail</b> – Outline Business Case Development (<u>East West Rail</u>, UK)
                            </div>
                        </div>
                    </div>
                </a>
            </div>
           <div class="col-lg-6 col-md-6 col-sm-12">
                <a href="javascript:void(0)" class="portfolio-box">
                    <img src="{{ '/img/portfolio/A3.png' | relative_url }}" class="img-responsive" alt="Innovation & Future Mobility">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Innovation & Future Mobility
                            </div>
                            <div class="project-name">
                                <b>> Rolling Stock Attributes</b> – Demand Impact Evaluation (<u>Rail Delivery Group</u>, UK) <br><br>
                                <b>> Multiple Passenger Service Agency</b> – Deep Research (<u>Department for Transport</u>, UK) <br><br>
                                <b>> East West Rail Fares</b> – Fare Structure Development (<u>East West Rail</u>, UK)
                            </div>
                        </div>
                    </div>
                </a>
            </div>
             <div class="col-lg-6 col-md-6 col-sm-12">
                <a href="javascript:void(0)" class="portfolio-box">
                    <img src="{{ '/img/portfolio/A4.png' | relative_url }}" class="img-responsive" alt="Bid & Commercial Support">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Bid & Commercial Support
                            </div>
                            <div class="project-name">
                                <b>> Dubai Al Maktoum International Airport</b> – Automated People Mover Procurement Bid (<u>Hitachi</u>, Dubai) <br><br>
                                <b>> Project NEOM</b> – High Speed Trains Procurement Bid (<u>Hitachi</u>, Saudi Arabia) <br><br>
                                <b>> UK Rail Franchise Bid Evaluation</b> – Thameslink and West Coast Partnership (<u>Department for Transport</u>, UK)
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
