<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            
            <div class="col-lg-3 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/A1.png" class="img-responsive" alt="Transport Strategy & Policy">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Transport Strategy & Policy
                            </div>
                            <div class="project-name">
                                <b>Rail Reform<b> – Policy and Contract Design (<u>Department for Transport<u>, UK) <br>
                                <b>National Rail Contracts<b> – Incentive Models (Department for Transport (<u>Department for Transport<u>, UK) <br>
                                <b>Rail Fares Reform<b> – Economic Evaluation (<u>Department for Transport<u>, UK)
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/A2.png" class="img-responsive" alt="Infrastructure & Investment Advisory">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Infrastructure & Investment Advisory
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/A3.png" class="img-responsive" alt="Innovation & Future Mobility">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Innovation & Future Mobility
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/A4.png" class="img-responsive" alt="Bid & Commercial Support">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Bid & Commercial Support
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
