E<aside id="team" class="bg-darkblue">
  <div class="container">
    <!-- Section Title -->
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-white">团队</h2>
        <hr class="light">
      </div>
    </div>

    <div class="row align-items-center">
      <!-- Photo (left) -->
      <div class="col-md-4 text-center">
        <img src="{{ '/img/sidi-sun.jpg' | relative_url }}" alt="" class="img-responsive img-circle">
      </div>
      
      <!-- Info (right) -->
      <div class="col-md-8">
        <!-- Name row with line -->
        <div class="name-row">
          <h3 class="text-white mb-0">Dr. 孙思镝</h3>
          <button class="btn btn-link text-white" type="button" data-toggle="collapse" data-target="#bio" aria-expanded="false" aria-controls="bio">
            <i class="fa-solid fa-chevron-down"></i>
          </button>
        </div>
  
        <!-- Collapsible description -->
        <div class="collapse" id="bio">
          <p>
            孙思镝(博士)是 Symprix 的创始人，也是拥有 14 年交通与基础设施领域经验的战略顾问。
            他长期与政府机构、铁路公司及国际投资者合作，参与铁路改革、票价与票务战略、需求预测、商业可行性研究以及竞争性投标等复杂项目。
            <br><br>孙博士曾为英国交通部（DfT）、波罗的海铁路公司、英国高铁2公司、日立铁路以及英格兰东西铁路公司，等客户提供咨询服务。
            他的专长在于将基于数据的经济与政策分析与务实、以结果为导向的解决方案相结合，为客户创造价值。
            <br><br>在学术方面，他拥有利兹大学（University of Leeds）铁路经济学博士学位，
            研究领域为铁路系统结构性改革的经济影响。
            <br><br>协会与行业影响：
            <ul>
              <li><u>英国特许物流与运输学会（CILT）特许会员</u></li>
              <li><u>中国可持续交通创新中心（STIC）海外专家</u></li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </div>
</aside>
