<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading"> <b>What We Do</b></h2>
                <hr class="light">
                <p class="cta-text">
                    Symprix 提供顶尖的咨询解决方案，为交通、基础设施与新兴领域解锁价值，并专注于赋能中国企业的全球化征程。<br><br>
                    我们融合深厚的战略智慧与丰富的公私领域项目经验，是客户应对复杂挑战、影响政策制定、驱动持续成功的关键伙伴。
                </p>
            </div>
        </div>
    </div>
</section>
