<section id="contact" class="contact-section">
  <div class="container text-center">
    <h2 class="section-heading">联系我们</h2>
    <hr class="light">

    <div class="row contact-row">
      <!--  -->
      <div class="col-md-4 contact-item">
        <i class="fa-solid fa-location-dot fa-2x"></i>
        <p>167-169 Great Portland Street, 5th Floor, London<br>W1W 5PF</p>
      </div>

      <!-- Email -->
      <div class="col-md-4 contact-item">
        <i class="fa-solid fa-envelope fa-2x"></i>
        <a href="mailto:info@symprix.com" class="contact-email">info@symprix.com</a>
      </div>

      <!-- LinkedIn -->
      <div class="col-md-4 contact-item">
        <i class="fa-brands fa-linkedin fa-2x"></i>
        <a href="https://www.linkedin.com/in/sidi-sun/" target="_blank">LinkedIn</a>
      </div>
    </div>
  </div>
</section>
