<section class="no-padding" id="portfolio">
   <div class="container text-center">
        <h2 class="section-heading"> <b>精选案例</b> </h2>
        <hr class="primary">
   </div>
    
    <div class="container-fluid">
        <div class="row no-gutter">
            
            <div class="col-lg-6 col-md-6 col-sm-12">
                <a href="javascript:void(0)" class="portfolio-box">
                    <img src="{{ '/img/portfolio/A1.png' | relative_url }}" class="img-responsive" alt="Transport Strategy & Policy">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                交通战略与政策
                            </div>
                            <div class="project-name">
                                <b>> 铁路改革</b> – 政策与合同设计 (<u>英国交通部</u>) <br><br>
                                <b>> 铁路客运合同</b> – 激励模型设计 (<u>英国交通部</u>) <br><br>
                                <b>> 铁路票务改革</b> – 经济性评估 (<u>英国交通部</u>)
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <a href="javascript:void(0)" class="portfolio-box">
                    <img src="{{ '/img/portfolio/A2.png' | relative_url }}" class="img-responsive" alt="Infrastructure & Investment Advisory">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                基础设施与投资
                            </div>
                            <div class="project-name">
                                <b>> 波罗的海铁路项目</b> – 私人投资市场研究与探询 (<u>波罗的海铁路公司</u>) <br><br>
                                <b>> 英国高速铁路2号</b> – 备选方案策略论证 (<u>英国交通部</u>) <br><br>
                                <b>> 英国东西铁路线</b> – 初步商业论证报告编制 (<u>英国东西铁路公司</u>)
                            </div>
                        </div>
                    </div>
                </a>
            </div>
           <div class="col-lg-6 col-md-6 col-sm-12">
                <a href="javascript:void(0)" class="portfolio-box">
                    <img src="{{ '/img/portfolio/A3.png' | relative_url }}" class="img-responsive" alt="Innovation & Future Mobility">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                创新与未来出行
                            </div>
                            <div class="project-name">
                                <b>> 铁路机车配置</b> – 客运需求影响评估 (<u>英国铁路运输协会</u>) <br><br>
                                <b>> 多模式客运服务署</b> – 深度专项研究 (<u>英国交通部</u>) <br><br>
                                <b>> 东西铁路线票务</b> – 票务体系设计 (<u>英国东西铁路公司</u>)
                            </div>
                        </div>
                    </div>
                </a>
            </div>
             <div class="col-lg-6 col-md-6 col-sm-12">
                <a href="javascript:void(0)" class="portfolio-box">
                    <img src="{{ '/img/portfolio/A4.png' | relative_url }}" class="img-responsive" alt="Bid & Commercial Support">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                               企业出海与商业拓展
                            </div>
                            <div class="project-name">
                                <b>> 迪拜马克图姆国际机场</b> – 自动旅客捷运系统采购投标支持 (<u>日立集团，迪拜</u>) <br><br>
                                <b>> NEOM新城</b> – 高速列车采购投标支持 (<u>日立集团，沙特阿拉伯</u>) <br><br>
                                <b>> 英国铁路特许经营权竞标评估</b> – 泰晤士联线和西海岸线路等等项目 (<u>英国交通部</u>)
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
