<section id="portfolio" class="portfolio-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>项目展示</h2>
        <p class="text-muted">以下是我们近期参与的部分重点项目</p>
      </div>
    </div>
    <div class="row no-gutter">
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="portfolio-box">
          <img src="img/portfolio/1.jpg" class="img-responsive" alt="Project 1">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">战略咨询</div>
              <div class="project-name">英国铁路改革研究</div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="portfolio-box">
          <img src="img/portfolio/2.jpg" class="img-responsive" alt="Project 2">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">国际合作</div>
              <div class="project-name">中东地铁PPP投融资支持</div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="portfolio-box">
          <img src="img/portfolio/3.jpg" class="img-responsive" alt="Project 3">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">数据建模</div>
              <div class="project-name">客流与收益模型开发</div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
